/* spreadsheet: https://docs.google.com/spreadsheets/d/1z5SjJGeFQ1TG3NRVAmU4pEblI3DzOzYR7XpcM_YPObU/edit#gid=0 */

/* 

1. Design and code the site. --> check out the coinbase earn page for design inspo for front page.
2. Integrate a database. (Google Spreadsheet)
3. Deploy the site. (Netlify, GitHub)
4. Connect to main site? (vc101.team/#online-course)

*/

@import url('https://fonts.googleapis.com/css?family=Asap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
}


/* COURSE PAGE */

body {
    background-color: rgb(245, 247, 248);
    background: url('img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}

header {
    padding: 20px;
}

header h1 {
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    line-height: 1em;
    text-align: center;
    margin-top: 30px;
    transform: translateY(-50%);
    text-shadow: 0 1px 0 #e4adad, 0 2px 0 #e1a6a6, 0 3px 0 #df9e9e, 0 4px 0 #dc9696, 0 5px 0 #da8f8f, 0 6px 0 #d78787, 0 7px 0 #d58080, 0 8px 0 #d27878, 0 0 5px rgba(237, 154, 154, 0.05), 0 -1px 3px rgba(237, 154, 154, 0.2), 0 9px 9px rgba(237, 154, 154, 0.5), 0 12px 12px rgba(237, 154, 154, 0.5), 0 15px 15px rgba(237, 154, 154, 0.5);
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-area: 
    "syllabus-outline content"
    "syllabus-outline chevron";
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    width: 85%;
    height: max-content;
    border-radius: 8px;
    background-color: #fff;
}

.container p {
    font-family: 'Asap', sans-serif;
    color: rgb(88, 112, 136);
    margin-top: 50px;
    width: 100%;
    height: 50px;
}

iframe {
    width: 300px;
    height: 300px;
    pointer-events: none;
}

.syllabus-outline {
    grid-area: "syllabus-outline";
    border-right: 2px solid rgb(245, 247, 248);
    background-color: #fff;
    text-align: left;
    border-radius: 2% 0% 0% 2%;
}

.syllabus-outline h2 {
    font-size: 1.3rem;
    color: #000;
    font-family: 'Asap';
    line-height: 25px;
    margin: 20px 0 20px 30px;
    border-bottom: 1px solid orange;
    width: min-content;
}

.syllabus-outline ul {
    margin-left: 30px;
}

.syllabus-outline ul li {
    list-style: none;
    font-family: 'Asap';
    font-size: 1rem;
    margin-bottom: 10px;
}

.content {
    grid-area: "content";
    
    border-radius: 0% 2% 2% 0%;
    background-color: #fff;
}

.chevron {
    grid-area: "chevron";
    text-align: center;
    margin-top: 50px;
}

.left {
    float: left;
}
    
.right {
    float: right;
}

.fa-chevron-left,
.fa-chevron-right {
    color: orange;
    font-size: 2rem;
    transition: all .3s;
}

.left:hover .fa-chevron-left,
.right:hover .fa-chevron-right {
    color: rgb(190, 110, 17);
    cursor: pointer;
}


/* Media Queries */

/* Mobile */
@media only screen and (max-width: 580px) {
    header h1 {
        font-size: 2.0rem;
        line-height: 1.8em;
        margin-top: 80px;
        margin-bottom: 0px;
    }

    .container {
        display: grid;
        grid-template: 
        "content" auto
        "chevron" auto / 1fr;
        text-align: center;
        margin-bottom: 50px;
        padding: 20px;
        width: 85%;
    }

    .syllabus-outline {
        display: none;
    }
}
